<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Travel Site</title>
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/news.css">
</head>

<body>
    <header id="header">
        <div class="center">
            <h1 class="logo">xiao mai travel agent</h1>
            <nav class="link">
                <h2 class="none">Navigation</h2>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li class="active"><a href="###">Travel News</a></li>
                    <li><a href="news.html">Plane</a></li>
                    <li><a href="news.html">Landscape</a></li>
                    <li><a href="news.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="news-header">
        <div class="news-summary">
            <hgroup>
                <h2>Newsworm</h2>
                <h3>Travel news, tips</h3>
            </hgroup>
        </div>
    </div>
    <div id="news-contanier">
        <aside class="sidebar">
            <div class="sidebox recommend">
                <h2>Recommended</h2>
                <div class="tag">
                    <a href="###">Beijing</a>
                    <a href="###">BeijingBeijingBeijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                    <a href="###">Beijing</a>
                </div>
            </div>
            <div class="sidebox tophit">
                <h2>Top hits</h2>
                <div class="top_spot">
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas1_260px.jpg">
                        <figcaption>Spots1</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas2_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas3_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas4_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas5_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas6_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas7_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                    <figure>
                        <img src="../img/260px/HoverEffectIdeas8_260px.jpg" alt="">
                        <figcaption>Spots</figcaption>
                    </figure>
                </div>
            </div>
            <div class="sidebox utility">
                <h2>Useful Link</h2>
                <div class="link-box">
                    <a href="###" class="wheather">Weather</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="train">Train</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="hotel">Hotel</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="hotel">Hotel</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="plane">Plane</a>
                    <a href="###" class="hotel">Hotel</a>
                    <a href="###" class="plane">Plane</a>
                </div>
            </div>
        </aside>
        <div class="list">list</div>
    </div>
    <footer>
        <div class="footer-top">
            <div class="footer-col">
                <h2>Newsroom</h2>
                <hr>
                <ul>
                    <li>Travel Tips</li>
                    <li>Hotels</li>
                    <li>Flights</li>
                    <li>Give a gift</li>
                </ul>
            </div>
            <div class="footer-col">
                <h2>Parteners</h2>
                <hr>
                <ul>
                    <li>Travel+Leisure</li>
                    <li>Hotwire</li>
                    <li>Travel</li>
                    <li>携程</li>
                </ul>
            </div>
            <div class="footer-col">
                <h2>Stay Connected</h2>
                <hr>
                <ul>
                    <li>Facebook</li>
                    <li>@Twitter</li>
                    <li>Youtube</li>
                    <li>Wechat</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">Expedia, Inc. is not responsible for content on external Web sites. ©2016 Expedia, Inc. All rights reserved.</div>
    </footer>
</body>

</html>
